<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<form [formGroup]="bioSection">
  <div
    style="width:240px"
    [ngClass]="
      bioSection.get('firstName').invalid && bioSection.get('firstName').touched
        ? 'errorContainer errorPlaceholder'
        : ''
    "
  >
    <ng-select
      [items]="cities"
      bindLabel="name"
      placeholder="Select value"
      formControlName="firstName"
    >
    </ng-select>
    <div
      *ngIf="
        bioSection.get('firstName').invalid &&
        bioSection.get('firstName').touched
      "
      class="errorMassage"
    >
      <div *ngIf="!!bioSection.get('firstName').hasError('required')">
        Supplier is required
      </div>
    </div>
  </div>
</form>
